body {
    position: absolute;
    top: 0;
    left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-width: 380px;
    z-index: 1;
   }

